#header {width: 250px;
		vertical-align: top;
		margin-left: 10px;
		/*background-color: yellow;*/
}

#menu {width: 320px;
	/*background-color: blue;*/
}

#menu2 {width: 320px;
	/*background-color: pink*/
}

#menu3 {width: 320px;
		padding-right: 0px;
	/*background-color: brown*/
}

#menu4 {margin-left: 350px;
	vertical-align: top;
/*background-color: red;*/}

div {display: inline-block;
	margin-top: 0px;
}

p {font-family: "quicksand", arial;
font-size: 16px;
	text-align: none;}

p.footer {font-size: 11px;}

a {font-family: futura, arial;
	text-align: center;
	color: black;
	text-decoration: none;
	transition-property: color;
			transition-duration: 0.3s;
			transition-delay: 0.1s;
		}

a:hover {color: blue;
			transition-property: color;
			transition-duration: 0.3s;
			transition-delay: 0.1s;
		}

img {max-width: 320px;
	opacity: 1;
	transition-property: opacity;
			transition-duration: 0.3s;
			transition-delay: 0.1s}

img:hover {opacity: 0.5;
			transition-property: opacity;
			transition-duration: 0.3s;
			transition-delay: 0.1s;
}

footer {text-align: center;}