#menu {margin-left: 300px;
	width: 320px;
	/*background-color: blue;*/}

#menu2 {width: 320px;
/*background-color: pink*/}

div {display: inline-block;
margin-top: 10px;}

p {font-family: futura, arial;
text-align: right;}

a {font-family: futura, arial;
text-align: right;
color: black;
text-decoration: none}

img {max-width: 320px;
	opacity: 1;}